body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: rgb(56, 56, 63);
}

.container {
  max-width: 970px;
  padding: 100px;
  background-color: rgba(46, 46, 46, 0.502);
  border-radius: 10px;
}
.container-fluid {
  margin-top: 20px;
  margin-left: 22px;
}

.jumbotron {
  background-color: rgb(119, 167, 238);
}

.jumbotron h1 {
  font-size: 75px;
  text-align: right;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: rgba(32, 32, 32, 0.568);
}
#amount.form-control {
  margin-bottom: 30px;
}
.button {
  margin: 10px;
  margin-top: 90px;
}

label {
  margin: 10px;
}

.results {
  margin-top: 5px;
  margin-bottom: 15px;
}
.results p {
  margin-top: 5px;
}

.results .result-placeholder {
  display: inline;
  color: gray;
}

.results .card{
  height: 37px;
  background-color: white;
  color: black;
  padding-bottom: 10px;
}

