body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(70, 70, 106);
}

.jumbotron {
  background-color: rgb(125, 165, 225);
}

.jumbotron h1 {
  font-size: 75px;
  text-align: right;
}

.photos {
  display:none;
}

.card {
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.button {
  margin: 10px;
  margin-top: 90px;
}

label {
  margin: 10px;
}

.results {
  margin-top: 10px;
  margin-bottom: 10px;
}

.results .card{
  height: 40px;
}

.row{
  margin-left: 5%;
}
